body{
  background-color: rgba(54, 94, 204, 0.658);
}

.card{
  border: 1px solid hsla(0, 0%, 0%, 0.89);
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  max-width: fit-content;
  display: inline-block;
}