body{
    background-color: hsla(0, 0%, 0%, 0.938);
}

div{
    border: none;
    border-radius: 20px;
    padding: 20px;
    width: 250px;
    margin: auto;
}

div p{
    color: white;
    font-size: larger;
}



button {
    background-color: hsla(0, 0%, 50%, 0.712);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: 10px;
    width: 200px;
    display: flex;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

button:hover {
  background-color: hsl(41, 82%, 52%);
}

.gback-btn{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 10px;
    left: 10px;

}
.aback-btn{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 10px;
    left: 10px;

}
.gback-btn{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 10px;
    left: 10px;

}
.goback-btn{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 10px;
    left: 10px;

}
.rback-btn{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 10px;
    left: 10px;

}

.continue{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 800px;
    right: 10px;
}
